/* src/App.css */
.App {
  text-align: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out; /* Smooth transition */
}

.map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

img {
  width: 100%;
  height: 100%;
}

.clickable-area {
  position: absolute;
  cursor: pointer;
}